<div cg-busy="{promise: fileUploadPromise}">
  <mb-modal-header title="{{data.vehicle.id ? '编辑车辆信息' : '新增车型信息'}}"  cancel-click="cancel(form)"></mb-modal-header>
  <div class="modal-body">
    <form class="form-horizontal" name="form">
      <div class="form-group">
        <div class="col-xs-11 col-sm-11 col-md-10">
          <input-combo type="text" title="车型名称" idname="name" maxlength="30" ng-model="data.vehicle.name" ng-required="true"></input-combo>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-11 col-sm-11 col-md-10">
          <label class="control-label col-xs-4 highlight" for="imgfile">图片
          </label>
          <div class="col-xs-8">
              <div class="col-xs-4">
                <button  name="file" ngf-model-invalid="invalidFile" ngf-pattern="'image/*'"  ngf-accept="'image/*'" ngf-validate="{size: {max: '5MB', min: '10B'}, duration: {max: '5m'}}"  class="btn btn-success btn-sm  m-b" id="imgfile" ngf-select ng-model="file">
                <i class="fa fa-image"> </i>请选择图片
                </button>
              </div>
              <div class="col-xs-8">
                &nbsp;
                <img class="img-responsive img-thumbnail m-b" ngf-size="{width: 100%, height: 100%, quality: 0.5}" ngf-thumbnail="file ||  (data.vehicle.id && (data.imgPrefixUrl + data.vehicle.imgUrl + '?x-oss-process=image/quality,Q_40')) ">
              </div>
              <div class="col-xs-12 help-block">
                <ul>
                  <li class="text-danger" ng-if="invalidFile.$errorMessages.maxSize" >
                    图片不能超过： {{invalidFile.$errorParam}}
                  </li>
                </ul>
                图片仅接受PNG和JPG格式，大小要求小于5M，长宽比为750*422
              </div>

          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-11 col-sm-11 col-md-10">
          <input-combo type="text" title="链接地址" idname="url" maxlength="98" ng-model="data.vehicle.url" ng-required="true"></input-combo>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-11 col-sm-11 col-md-10">
          <input-combo type="select" title="顺序" idname="order" ng-model="data.vehicle.order" source-data="data.orderList" ng-required="true"></input-combo>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-11 col-sm-11 col-md-10">
          <input-combo type="select" title="信息状态" idname="status" ng-model="data.vehicle.status" source-data="data.statusList" ng-required="true"></input-combo>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" ng-disabled="form.$invalid || ((!data.vehicle.id && !file ) || (data.vehicle.id && !data.vehicle.imgUrl))" promise-btn="fileUploadPromise" ng-click="ok(form)">确定</button>
    <button class="btn btn-sm btn-default" ng-click="cancel(form)">取消</button>
  </div>
</div>