<div class="row sub-container">
  <form class="form-horizontal" name="fForm"  ng-submit="query(true)">
    <div class="div-btn-head">
      <button  ng-disabled="fForm.$invalid" promise-btn="queryPromise" type="submit" class="btn btn-sm btn-default" >查询</button>
      <button  ng-disabled="fForm.$invalid" type="button" class="btn btn-sm btn-default" ng-click="reset()">重置</button>
      <a class="btn btn-sm btn-primary" ng-click="exportExcel()" > <i class="fa fa-file-excel-o"></i> 导出Excel</a>
    </div>
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="select" title="预约状态" idname="status" ng-model="filter.status" ng-opt="o.code as o.value for o in sourceData"
          source-data="statusList"></input-combo>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="text" title="店代码" idname="phone" maxlength="30" ng-model="filter.phone"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="店简称" idname="nickName" maxlength="30"
          ng-model="filter.nickName"></input-combo>
      </div>
    </div>
  </form>
  <hr>
  <div class="mb-grid" cg-busy="{promise: queryPromise}" >
    <div class="div-grid" >
      <table class="table table-bordered table-condensed table-striped" >
        <tr>
          <!--<th>No</th>-->
          <th>经销商代码</th>
          <th>经销商名称</th>
          <th>总预约</th>
          <th>接受预约</th>
          <th>预约超时未处理</th>
          <th>及时响应率</th>
        </tr>
        <tr class="text-center" ng-repeat="row in grid.rows track by $index">
          <!--<td>{{row.no}}</td>-->
          <td>{{row.phone}}</td>
          <td >{{row.tbox || '无'}}</td>
          <td  style="max-width: 40px; white-space: normal;">{{row.nickname}}</td>
          <td>{{row.name}}</td>
          <td>{{row.sex}}</td>
          <td>{{row.plateNo}}</td>
        </tr>
      </table>
    </div>
    <mb-pager></mb-pager>
  </div>
</div>