<div class="row sub-container">
  <form class="form-horizontal" name="fForm"  ng-submit="query(true)">
    <div class="div-btn-head">
      <button  ng-disabled="fForm.$invalid" promise-btn="queryPromise" type="submit" class="btn btn-sm btn-default" >查询</button>
      <button  ng-disabled="fForm.$invalid" type="button" class="btn btn-sm btn-default" ng-click="reset()">重置</button>
    </div>
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="select" title="服务方式" idname="mode" ng-model="filter.mode" ng-opt="o.code as o.value for o in sourceData"
          source-data="modeList"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="select" title="处理状态" idname="status" ng-model="filter.status" ng-opt="o.code as o.value for o in sourceData"
          source-data="statusList"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="text" title="VIN" idname="vin" maxlength="30" ng-model="filter.vin"></input-combo>
      </div>
    </div>
    <div class="form-group">
      <div class="col-12-6-3">
        <input-combo type="date" title="发起时间" idname="startDate" ng-model="filter.startDate" err-msg="请按照指定格式输入时间。例如:2016-01-01"
          output-format="'yyyy-MM-dd'" ng-disabled="false"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="date" title="至" idname="endDate" ng-model="filter.endDate" err-msg="请按照指定格式输入时间。例如:2016-01-01" output-format="'yyyy-MM-dd'"
          ng-disabled="false"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="date" title="预约时间" idname="startDate" ng-model="filter.startDate" err-msg="请按照指定格式输入时间。例如:2016-01-01"
          output-format="'yyyy-MM-dd'" ng-disabled="false"></input-combo>
      </div>
      <div class="col-12-6-3">
        <input-combo type="date" title="至" idname="endDate" ng-model="filter.endDate" err-msg="请按照指定格式输入时间。例如:2016-01-01" output-format="'yyyy-MM-dd'"
          ng-disabled="false"></input-combo>
      </div>
    </div>
  </form>
  <hr>
  <div class="mb-grid" cg-busy="{promise: queryPromise}" >
    <div class="div-grid" >
      <table class="table table-bordered table-condensed table-striped" >
        <tr>
          <!--<th>No</th>-->
          <th>预约单号</th>
          <th>客户姓名</th>
          <th>联系方式</th>
          <th>VIN</th>
          <th>车牌号</th>
          <th>车型</th>
          <th>发起时间</th>
          <th>预约时间</th>
          <th>服务类型</th>
          <th>服务方式</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        <tr class="text-center" ng-repeat="row in grid.rows track by $index">
          <!--<td>{{row.no}}</td>-->
          <td>{{row.number}}</td>
          <td>{{row.companyName}}</td>
          <td>{{row.amount}}</td>
          <td>{{row.recipients}}</td>
          <td>{{row.phone}}</td>
          <td>{{row.city}}{{row.region}}{{row.address}}</td>
          <td>{{row.postcode}}</td>
          <td>
            <span class="text-success" ng-if="row.status == 1">已开票</span>
            <span class="text-muted" ng-if="row.status == 0">未开票</span>
          </td>
          <td>{{row.operationTime | date: 'yyyy/MM/dd'}}</td>
          <td>{{row.operator}}</td>
          <td>
            <a ng-if="row.status == 1" href="javascript:void(0);" ng-click="openInvoice(row)"> {{row.expressWaybill}} </a>
          </td>
          <td>
            <button class="btn btn-xs btn-success">接受</button>
            <button class="btn btn-xs btn-worning">取消</button>
            <button class="btn btn-xs btn-info">编辑</button>
            <button class="btn btn-xs btn-primary">再次预约</button>
          </td>
        </tr>
      </table>
    </div>
    <mb-pager></mb-pager>
  </div>
</div>