<div class="row sub-container">
    <form class="form-horizontal" name="fForm" ng-submit="query(true)">
        <div class="div-btn-head">
                <button ng-disabled="fForm.$invalid"  promise-btn="queryPromise" type="submit" class="btn btn-default btn-sm" >查询</button>
                <button class="btn btn-default btn-sm" type="reset" >重置</button>
        </div>
    </form>
    <hr>
    <div class="mb-grid" cg-busy="{promise: queryPromise}">
        <div class="div-grid">
            <table  class="table table-bordered table-condensed table-striped table-middle">
                <tr>
                    <th>交易单号</th>
                    <th>支付途径</th>
                    <th>店名</th>
                    <th>店代码</th>
                    <th>交易日期</th>
                    <th>消费金额</th>
                    <th>消费类型</th>
                </tr>
                <tr class="text-center" ng-repeat="row in grid.rows track by $index">

                    <td>{{row.client_id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.idcardNo}}</td>
                    <td>{{row.phone}}</td>
                    <td>{{row.vin}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <mb-pager></mb-pager>
    </div>
</div>