<div class="row sub-container">
    <form class="form-horizontal" name="fForm" ng-submit="query(true)">
        <div class="div-btn-head">
          <button ng-disabled="fForm.$invalid"  promise-btn="queryPromise" type="submit" class="btn btn-default btn-sm" >查询</button>
          <button class="btn btn-default btn-sm" ng-click="return()">返回</button>
          <a class="btn btn-sm btn-primary" ng-click="exportExcel()" > <i class="fa fa-file-excel-o"></i> 导出Excel</a>
        </div>
        <div class="form-group">
            <div class="col-12-6-3">
              <input-combo type="date" title="起止时间" idname="startDate" ng-model="filter.startDate" err-msg="请按照指定格式输入时间。例如:2016-01-01"
                output-format="'yyyy-MM-dd'" ng-disabled="false"></input-combo>
            </div>
            <div class="col-12-6-3">
              <input-combo type="date" title="至" idname="endDate" ng-model="filter.endDate" err-msg="请按照指定格式输入时间。例如:2016-01-01" output-format="'yyyy-MM-dd'"
                ng-disabled="false"></input-combo>
            </div>
        </div>
    </form>
    <hr>
    <div class="mb-grid" cg-busy="{promise: queryPromise}">
        <div class="div-grid">
            <table  class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>日期</th>
                    <th>获得积分</th>
                    <th>消费积分</th>
                    <th>备注</th>
                </tr>
                <tr class="text-center" ng-repeat="row in grid.rows track by $index">

                    <td>{{row.createTime}}</td>
                    <td>{{row.add}}</td>
                    <td>{{row.reduce}}</td>
                    <td>{{row.sourceDescription}}</td>
                </tr>
            </table>
        </div>
        <mb-pager></mb-pager>
    </div>
</div>
