<div>
    <mb-modal-header title="拒绝理由" alerts="alerts" cancel-click="cancel()"></mb-modal-header>
    <div class="modal-body">
        <form class="form-horizontal" name="form">
            <div class="form-group">
                <div class="col-xs-11 col-sm-11 col-md-10">
                    <input-combo type="text" title="拒绝理由" idname="refusalreason" ng-model="data.unbindvehicle.remark"  ng-required="true"></input-combo>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" ng-disabled="form.$invalid" ng-click="ok(data.unbindvehicle)">确定</button>
        <button class="btn btn-sm btn-default" ng-click="cancel()">取消</button>
    </div>
</div>